# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
.venv/
.env
.env.local

# Project

data/
__pycache__
*.egg-info/
output/

# Zip
*.zip

# MacOS
.DS_Store
__MACOSX/
