# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
.venv/
.env
.env.local

# Project
.langgraph_api/
.vscode/
data/
__pycache__
*.egg-info/
output/
private

# Zip
*.zip

# MacOS
.DS_Store
__MACOSX/
